<div id="example1">
	<h1>Example 1 - Controllers with views coming from templates</h1>
	<p>This is an instance of Example1Controller. Its parent class is also TemplateController so its content comes from a file that follows the convention of lowecase the name minus the 'Controller' suffix. In this case, the view of this controller will be the root element of the html you see in the example1.html file</p>
	<p>You'll find that its content was loaded using <a href="http://requirejs.org/" target="_blank()">requirejs</a> using <a href="https://github.com/requirejs/text" target="_blank()">its text plugin</a></p>

	<a id="browse-example1" class="btn btn-primary">Browse Example1Controller class</a>
	<a id="browse-template" class="btn btn-primary">Browse TemplateController class</a>

	<div class="well">
		<p>Click on the button below to see more</p>
		<a href="#/example1"
			class="btn btn-primary">Example 1</a>
		<a href="#/example2"
			class="btn btn-default">Example 2</a>
		<a href="#/example3"
			class="btn btn-default">Example 3</a>
		<a href="#/example4"
			class="btn btn-default">Example 4</a>			
		<a href="#/example5"
			class="btn btn-default">Example 5</a>
		<p>Or click in the button below to return to Home</p>
		<a href="#/" 
			class="btn btn-default">Home</a>
	</div>
</div>