<div id="example3">
	<h1>Example 3 - Arbitrary sub-controllers</h1>
	<p>This is the Example3Controller.</p>
	<p>In the Example3Controller we have a subclass of TemplateController because we don't need it binding anything. What's different with this controller is that it has a subcontroller named 'subexample'.</p>

	<p>All controllers (any subclass of Controller) can have any number of (sub)controllers. They are stored in a dictionary an instVar named 'controllers'.</p> 
	
	<p>Controllers understand <strong>controllerAt:</strong></p>
	<p>You have access to any subcontroller by sending the message controllerAt:</p>

	<p>For example, you can..</p>
	<a id="inspect-this" class="btn btn-primary">Inspect this controller</a>
	<p>and in the workspace area of the ispector (the lower half) you can type "self controllerAt: #subexample" and press printIt, or inspect it, and you will see that it returns an instance of Example1Controller.</p>
	<p>That (sub)controller is the one rendered inside the dashed box below:</p>

	<div id="subexample-wrapper"></div>

	<h2>Why this is cool?</h2>
	<p>Because there is no limit to compose Controllers. You can have controllers with (sub)controllers each with (sub)controllers and compose them again and again. All of them with the right models and using their own templates. You can make them as simple or as complex as you want. A good side-effect of composing controllers is that you keep good <a href="http://en.wikipedia.org/wiki/Separation_of_concerns" target="_blank()">Separation of Concerns</a>. In other words... you can scale the complexity of your frontend as much as you want and you'll be just fine.</p>

	<div class="well">
		<p>Click in the button below to see more</p>
		<a href="#/example1"
			class="btn btn-default">Example 1</a>
		<a href="#/example2"
			class="btn btn-default">Example 2</a>
		<a href="#/example3"
			class="btn btn-primary">Example 3</a>
		<a href="#/example4"
			class="btn btn-default">Example 4</a>
		<a href="#/example5"
			class="btn btn-default">Example 5</a>
		<p>Or click in the button below to return to Home</p>
		<a href="#/" 
			class="btn btn-default">Home</a>
	</div>
</div>