<div id="main">
	<div id="welcome">
		<h1>Home - The MainController</h1>
		<p>Welcome to the MainController of this flow-based App provided as example.</p>
		<p>The MainController is a subclass of TemplateController. This kind of controllers load their html from a micro-template file located in the frontend/views directory of this flow based app.</p>
		<p>Do you have the <strong>Helios IDE open</strong>? Then, for example, you can..</p>
		<a id="inspect-main" class="btn btn-primary">Inspect the MainController instance</a>

		<div class="well">
			<p>Click in the buttons below to see examples</p>
			<a href="#/example1"
				class="btn btn-default">Example 1</a>
			<a href="#/example2"
				class="btn btn-default">Example 2</a>
			<a href="#/example3"
				class="btn btn-default">Example 3</a>
			<a href="#/example4"
				class="btn btn-default">Example 4</a>
			<a href="#/example5"
				class="btn btn-default">Example 5</a>
		</div>		
	</div>

	<div id="example1-wrapper"></div>
	<div id="example2-wrapper"></div>
	<div id="example3-wrapper"></div>
	<div id="example4-wrapper"></div>
	<div id="example5-wrapper"></div>

</div>