<div id="searchVademecum">
	<h1>Buscar vademecum</h1>
	<p>Busca en una o todas las fuentes de información el vademecum del alimento seleccionado.</p>

	
	<div class="well">
		<h3>Buscar vademecum de alimento:</h3>
		<p>Seleccione una fuente y busque un alimento.</p>

		<div id="search-vademecum-wrapper"></div>
		<label for="alimento" rv-hide="model.isConfirmed">
		Alimento
		<input 
			type="text"
			name="searchedName"
			placeholder="Alimento"
			rv-on-keyup="controller._onFoodNameKeyUp"
			rv-live-value="model.foodNames">
		</label>
		<button class="btn btn-primary"
		rv-hide="model.isConfirmed"
		rv-enabled="controller.canConfirm"
		rv-on-click="controller._confirm">Do you confirm?</button>
		<div id="foods-wrapper"></div>
		
	</div>

	<div class="well">
		<a href="#/example1"
			class="btn btn-default">Example 1</a>
		<a href="#/example2"
			class="btn btn-default">Example 2</a>
		<a href="#/example3"
			class="btn btn-default">Example 3</a>
		<a href="#/example4"
			class="btn btn-default">Example 4</a>
		<a href="#/example5"
			class="btn btn-primary">Example 5</a>

		<p>Click in the button below to return to Home</p>
		<a href="#/" 
			class="btn btn-default">Home</a>
	</div>
</div>
