<li class="list-group-item">

	<span
		for="description"
		rv-hide="controller.isEditor"
		rv-text="model.description"></span>

	<input 
		rv-show="controller.isEditor"
		type="text"
		name="description"
		placeholder="Description"
		rv-on-keyup="controller._onDescriptionKeyUp"
		rv-live-value="model.description">

	<a 
		rv-show="controller.isEditor"
		class="btn btn-primary pull-right"
		rv-on-click="controller._beView">Okay</a>
	<div 
		rv-hide="controller.isEditor"
		class="btn-group pull-right" 
		role="group" 
		aria-label="...">	
		<a 
			class="btn btn-info "
			rv-on-click="controller._beEditor">Edit</a>
		<a 
			class="btn btn-default glyphicon glyphicon-trash"
			rv-on-click="controller._removeThing"> Remove</a>
	</div>
</li>